.header-page {
    
    border-bottom: 1px solid #ECECEC;
    &__container {
        position: relative;
        @extend %container;
        @media screen and (min-width:480px) {
        width: 480px;
        }
        @media screen and (min-width:768px) {
        width: 768px;
        }
        @media screen and (min-width:1200px) {
        width: 1200px;
        }
    }
    &__nav {
        @include flex(center, null);
        min-height: 60px;
        @media screen and (max-width:767px) {
        justify-content: space-between;
        }
    }
}

/* Логотип */
.logo {
    margin: 0;
    color: $text-color;
    font-family: Raleway, sans-serif;
    @include font(700, 24px, 1.17, 0.03em);
    text-decoration: none;
    @media screen and (min-width:768px) {
    @include font(null, 26px, 1.29, null);
    }
    &__style {
        color: $accent-color;
    }
}
.header-page__button {
    @include flex(center, center);
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    &:hover, 
    &:focus {
    color: $accent-color;
    }
    @media screen and (min-width:768px) {
        display: none;
    }
}
.header-page__icon {
    fill: currentColor;
    width: 40px;
    height: 40px;
    .header-page__button &--cross {
        display: none;
    }
    .header-page__button.is-open &--cross {
        display: block;
    }
    .header-page__button.is-open &--menu {
        display: none;
    }
}

.header-page__menu {
    @media screen and (max-width:767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding: 48px 40px 48px 40px;
    background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
        0px 2px 4px rgba(0, 0, 0, 0.08), 
        0px 1px 3px rgba(0, 0, 0, 0.16);
    &.is-open {
        @include flex(null, space-between);
        flex-direction: column;
        }
    }
    @media screen and (min-width:768px) {
        flex-grow: 1;
        margin-left:88px;
        @include flex(center, space-between);
    }
    @media screen and (min-width:1200px) {
        margin-left: 93px
    }
}

.site-nav {
    @extend %list;
    @media screen and (min-width:768px) {
        display: flex;
    }
}
.site-nav__item {
    @media screen and (max-width:767px) {
    &:not(:last-child) {
        margin-bottom: 32px;
        }
    }
    @media screen and (min-width:768px) {
    &:not(:last-child) {
        margin-right: 50px;
        }
    }
}

.site-nav__link {
    color: $text-color;
    @include font(500, 40px, 1.18, 0.02em);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
    @media screen and (min-width:768px) {
    @include font(null, 14px, 1.14, null);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    }
}
.site-nav__link--current {
    color: $accent-color;
    @media screen and (min-width:768px) {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        bottom: -1px;
        left: 0;
        border-radius: 4px;
        height: 4px;
        width: 100%;
        background-color: $accent-color;
        }
    }
}
/* Контакты в шапке */
.contact {
    @extend %list;
    @media screen and (max-width:767px) {
    margin-bottom: 64px;
    }
    @media screen and (min-width:768px) {
    display: flex;
    flex-direction: column-reverse;
    }
    @media screen and (min-width:1200px) {
    flex-direction: row;
    }
}
.contact__item {
    @media screen and (max-width:767px) {
    &:not(:last-child) {
        margin-bottom: 30px;
        }
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
    &:not(:first-child) {
        margin-bottom: 10px;
        }
    }
    @media screen and (min-width:1200px) {
    &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
.contact__link {
    @include font(500, 24px, 1.17, 0.02em);
    text-decoration: none;
    color: $secondary-text-color;
    @media screen and (max-width:767px) {
    &--mobile {
        font-size: 34px;
        color: $accent-color;
        }
    }
    @media screen and (min-width:768px) {
    @include flex(center, center);
    @include font(null, 12px, 1.14, null);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
        }
    }
    @media screen and (min-width:1200px) {
    font-size: 14px;
    }
}
.contact__icon {
    margin-right: 8px;
    fill: currentColor;
    @media screen and (max-width:767px) {
    display: none;
    }
    @media screen and (min-width:1200px) {
    margin-right: 10px;
    }
}

.social-network {
    @extend %list;
    display: flex;
    flex-wrap:  wrap;
    @media screen and (min-width:768px) {
        display: none;
    }
}
.social-network__item {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:last-child {
        padding-right: 0;
        border-right: none;
    }
    &:first-child {
        padding-left: 0;
    }
}

.social-network__link {
    color: $accent-color;
    @include font(500, 18px, 1.22, 0.02em);
    text-decoration: none;
}
