@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}
@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}
/*Утилиты для списков*/
%list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Контейнер */
%container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
}

/* Базовые параметры секций */
%section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Названия секций*/
%section__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: $text-color;
    @include font(700, 24px, 1.14, 0.03em);

}
/* Кнопка*/
%button {
    color: #ffffff;
    background-color: $accent-color;
    @include font(700, 16px, 1.88, 0.06em);
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    padding: 10px;
    height: 50px;
    min-width: 200px;
    cursor: pointer;
}
/* Hidden */
%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

